
<div style="color: rgb(41, 43, 44); 
text-align: center;         
padding: 5px; ">
<h1>Just Files!</h1>
<p>No depth, just simplicity!</p>    
</div>

<p>Hello,</p>

<p>Please verify your email!</p>
<a href="{{ url_for('login', token=token, _external=True) }}">
Verify
</a>.

<p>Alternatively, you can paste the following link in your browser's address bar:</p>
{{ url_for('login', token=token, _external=True) }}
<p>If you have not requested a password reset simply ignore this message.</p>
<p>Sincerely,</p>
<p>The Microblog Team</p>